* {
    align-items: center;
    justify-content: center;
}

body {
    background-color: gold
}

h1  {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  font-style: normal;
}


p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border: 1px solid;
  padding-right: 0px;
  background-color: white;
}

.heart-picture {
    border: 2px solid black;
}

.party-hat-pic {
    border: 2px solid black;
    width: 50px;
}